body
{
	font-family: calibri, serif;
	color: #0F1517;
	background-image: url('images/fond4.jpg');
	margin-right: 3%;
	margin-left: 3%;
}

header
{
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	border: 2px solid black;
	box-shadow: 6px 6px 10px black;
	background-color: #EDF5F7;
	border-radius: 5px;
	padding-right: 10%; 
}

#titre_principal
{
	display: flex;
	flex-direction: column;
	text-align: center;
	padding-left: 10%;
}
article
{
	width: 80%;
}
aside
{
	position: relative;
	background-color: #B2BCBF;
	box-shadow: 6px 6px 10px black;
	border-radius: 5px;
	width: 15%;
	padding-left: 2%;
}

#listes
{
	display: flex;
	margin-top: 20px;
	margin-left: 20px;
	margin-right: 0px;
	word-wrap: break-word;
	padding-left: 2%;
}

#mes_experiences
{
	display: flex;
	flex-direction: column;
	width: 35%;
}
#mes_competences
{
	display: flex;
	flex-direction: column;
	width: 35%;
}
#mes_formations
{
	display: flex;
	flex-direction: column;
	width: 35%;
}
ul
{
	padding-left: 2%;
}
footer
{
	display: flex;
	border: 2px solid black;
	box-shadow: 6px 6px 10px black;
	border-radius: 5px;
	margin-top: 20px;
	background-color: #EDF5F7;
	padding-top: 2%;
	padding-bottom: 2%;
}
section
{
	display: flex;
	align-items: auto;
	border: 2px solid black;
	box-shadow: 6px 6px 10px black;
	border-radius: 5px;
	background-color: #EDF5F7;
	margin-top: 5%;
	margin-bottom: 5%;
}
h2
{
	text-transform: uppercase;
}
footer p
{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin: auto;
}
